<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>edit Profile</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

       <div class="row">
            <div class="col-md-12 p-2 navbar-light bg-light rounded-3">
               
        <div class="d-flex bd-highlight mb-3">

            <div class="mx-auto p-2 bd-highlight"><div id="menu">
                <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
                </div>
                <nav class="nav" id="nav">
                  <ul>
                    <li><a th:href="@{/post/cms}" ><i class="fa-solid fa-browser"></i> Profile</a></li>
                    <li><a th:href="@{/post/addpost}">Add Post</a></li>                    
                    <li><a th:href="@{/post/postslist}">Post Lists</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                  </ul>
                </nav> 
              </div>
              
              <div class="menu-bg" id="menu-bg"></div>
            </div>
              <div>
                <a class="bd-highlight btn btn-outline-primary" id="buttons" th:href="@{/logout}">logout</a>

              </div>

        </div>
            </div>
        </div>
 	
        <div class="container" id="show_edit">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body" th:each="y:${updateedit}">
						
							<div class="d-flex flex-column align-items-center text-center">
								<img th:src="@{'https://avatars.dicebear.com/api/'+${y.gender}+'/:'+${y.username}+'.svg'}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h4></h4>
									
								</div>
							</div>
							<hr class="my-4">
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
					<form th:action="@{/post/UpdateProfile}"  th:object="${updateedit}" method="post"  enctype="multipart/form-data">
						<div class="card-body">
						<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">ID</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="id" required  readonly th:field="*{id}">
								</div>
							</div>
						
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">User Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="username" required th:field="*{username}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="email" required th:field="*{email}">
								</div>
							</div>
							
							
								<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Job</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="job" required th:field="*{job}" >
								</div>
							</div>
						
						<div class="row">
							
							<div class="row mb-3">
								<div class="col-sm-3">
								                   <h6 class="mb-0 mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
								</div>
								<div class="col-sm-9 text-secondary">
								
									<input type="text" class="form-control" th:name="website" required th:field="*{website}">
								</div>
							</div>
						
							
						</div>
						
						<div class="row">
							
							<div class="row mb-3">
								<div class="col-sm-3">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="github" required th:field="*{github}">
								</div>
							</div>
						
							
						</div>
						<div class="row">
							
							<div class="row mb-3">
								<div class="col-sm-3">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" th:name="facebook" required th:field="*{facebook}">
								</div>
							</div>
						
							
						</div>
						<div class="row">
							
							<div class="row mb-3">
								<div class="col-sm-3">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" required th:name="instagram" th:field="*{instagram}" >
								</div>
							</div>
						
							
						</div>
						<div class="row">
							
							<div class="row mb-3">
								<div class="col-sm-3">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control"  th:name="twitter" th:field="*{twitter}" required>

								</div>
							</div>
						
							
						</div>
						
							<div class="form-check py-2 invisible" type="hidden">
                          <input class="form-check-input invisible" name="agreed" th:value="${updateedit.agreed}" type="checkbox" id="flexCheckDefault" checked>
                          <label class="form-check-label invisible" for="flexCheckDefault" style="color: rgba(0, 0, 0, 0.6);" type="hidden">Accept Terms And Conditions</label>
                        </div>		
							
							<div class="row">
								<div class="col-sm-3"></div>
								
								<div class="col-sm-9 text-secondary">
									<button class="btn btn-primary px-4" type="submit" value="Save Changes" th:onclick="|clickupdate(e)|">save changes</button>
								</div>
							</div>
						</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script >function menuOnClick() {
    document.getElementById("menu-bar").classList.toggle("change");
    document.getElementById("nav").classList.toggle("change");
    document.getElementById("menu-bg").classList.toggle("change-bg");
  }
  
  function clickupdate(e){
	e.preventDefault();
	let name=document.getElementById("name");
	let job=document.getElementById("job");
	
	if(job=='' && name==''){
		console.log("hello");
	}else{
Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Your Profile has been Update',
  showConfirmButton: false,
  timer: 1500
})}
}

</script>